[submodule "toolchain"]
	path = toolchain
	url = git://github.com/icamgo/xtensa-toolchain.git
[submodule "rtos/esp8266"]
	path = rtos/esp8266
	url = git://github.com/espressif/esp8266_rtos_sdk.git
[submodule "rtos/esp32"]
	path = rtos/esp32
	url = git://github.com/espressif/esp32_rtos_sdk.git
